# Configuración de la Base de Datos
DB_USER=admin
DB_PASSWORD=123
DB_HOST=db
DB_PORT=5432
DB_NAME=evaluador_db

# URL de conexión que usará SQLAlchemy
DATABASE_URL=postgresql://admin:123@db:5432/evaluador_db
#DATABASE_URL=postgresql://usuario:contraseña@host:puerto/nombre de db

#minios config
MINIO_ROOT_USER=admin
MINIO_ROOT_PASSWORD=123
MINIO_BROWSER_REDIRECT_URL=https://your-domain.ngrok-free.dev
